{% load static %}

<head>
    <title>Recipes for Those Who Read This</title>
    <link rel='stylesheet' type='text/css' href='{% static "css/main.css" %}'>
</head>

<a href='/logout/'>Logout</a>
<h1>Recipes for Those Who Read This</h1>

<a href='/authorform/'>Be a chef</a>
<br>
<a href='/recipeform/'>Add a recipe (must be a chef)</a>



<ul>
    {% for info in data %}
        <li>
            <a href = '/author/{{info.author.id}}/'>{{ info.author.name }}</a>:
            <ul>
                <a href = '/recipe/{{info.id}}/'>{{info.title}}</a>
            </ul>
        
            <ul>
                {{ info.description }}
            </ul>
        </{{>
    {% endfor %}
</ul>